# Must be identical to auth-service SECRET_KEY
SECRET_KEY=change_me_to_a_random_32_char_hex_string
ALGORITHM=HS256

# Service URLs — use Docker container names when running inside library-network
AUTH_SERVICE_URL=http://auth-service:8001
BOOK_SERVICE_URL=http://book-service:8002
MEMBER_SERVICE_URL=http://member-service:8003
LOAN_SERVICE_URL=http://loan-service:8004
FINE_SERVICE_URL=http://fine-service:8005
