# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Env files
.env
*.env.local

# DB files
*.db
*.sqlite3

# Alembic
alembic/versions/*.pyc

# IDE
.vscode/
.idea/
*.swp

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
