DATABASE_URL=postgresql+asyncpg://loan_user:loan_pass@db_loan:5432/loan_db
SECRET_KEY=changeme
BOOK_SERVICE_URL=http://book-service:8002
MEMBER_SERVICE_URL=http://member-service:8003
FINE_SERVICE_URL=http://fine-service:8005
